.myCard {
    margin: auto;
    text-align: center;
    width: 40%;
    padding: 2%;
    margin-top: 2%;
    background-color: rgb(214, 225, 233);
}

.formField {
    width: 80%;
}

table {
    margin: auto;
    width: 80%;
    background-color: rgb(214, 225, 233);
}

.heading {
    text-align: center;
    margin-top: 5%;
}

.mat-form-field {
    padding: 1%;
}